.card {
  width: $card-width;
  padding: 32px 16px 16px;
  border: 1px solid $color-border;
  border-radius: $card-radius;
  box-sizing: border-box;

  font-family: $font-main;

  display: flex;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    object-fit: contain;
    margin: 0 auto 40px;
    display: block;
  }

  &__title {
    margin: 0 0 4px;
    font-size: $title-font-size;
    font-weight: 500;
    line-height: 18px;
    color: $color-dark;
  }

  &__stars {
    margin: 0 0 16px;
    display: flex;
  }

  &__price {
    margin: 0 0 16px;
    font-size: $price-font-size;
    font-weight: 700;
    color: $color-dark;
  }

  &__button {
    margin-top: auto;

    height: $button-height;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-blue;
    border-radius: $card-radius;
    border: 1px solid transparent;

    font-size: $button-font-size;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;

    transition: 0.3s;

    &:hover {
      background-color: $color-white;
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}
