.stars {
  display: flex;
  align-items: center;
  padding-bottom: 4px;

  &__star {
    width: $star-size;
    height: $star-size;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
      margin-right: $star-gap;
    }
  }

  &__reviews {
    font-size: $review-font-size;
    margin-left: 8px;
    color: $color-dark;
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} {
    .stars__star:nth-child(-n + #{$i}) {
      background-image: url('../images/star-active.svg');
    }
  }
}
